torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

transformers
datasets
huggingface_hub
sentence-transformers
sentencepiece
tokenizers
safetensors

numpy
scipy
pandas
polars
pyarrow
scikit-learn

tensorboard
tqdm
psutil
regex
protobuf==3.20.*
PyYAML
pydantic
